* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    position: relative;
    background-image: url(./image/background_image.jpg) ; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgb(16, 1, 50);
}
.content {
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);   
}